.header {
    background-color: var(--color-primary);
    padding: 5px 16px;
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0px 5px 5px var(--color-secondary);
    position: sticky;
    top: 0;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-3);
}

.container .brand {
    color: var(--color-bg);
    font-size: 2rem;
    font-weight: bold;
}

.headerButtons {
    display: flex;
    color: white;
    gap: var(--space-4);
}